<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="3312ZetaConnectionString1" connectionString="Data Source=WTCIS-SQL12.cis.wtamu.edu\CIDM3312Fall13;Initial Catalog=3312Zeta;Persist Security Info=True;User ID=3312Zeta;INSERT PASSWORD HERE=3312Aauto"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="false" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
